
.cards h1{
    color: white;
}

.cards{
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 80px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.slick-prev:before, .slick-next:before {
    font-size: 30px !important;
}
  
