.rrd-left button{
    /* background-color: #1e8fff4a; */
    font-weight:bold;
    background-color: black ;
    border-color: white;
    color:white;
    padding: 10px 20px;
    text-align: center;
    /* text-decoration: none; */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  
}

.rrd-left button:hover{
    background-color: #fdbf56;
    color: rgb(0, 0, 0);
    border-color:#fdbf56;
     box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}