.slider{
    display: flex;
    max-height: 560px ;
    transition: all 1s ease;
    background-color: black;
}

.slider-image{
    width: 66%;
    height: auto;
}

.slider-image img{
  width: min-content;
  height: min-content;
}

.slider-control{
    padding: 10px;
    padding-left: 25px;
    max-width: 30%;
    color: white;
    position: relative;
}
.slider-control h1{
    font-size: 40px!important;
    max-width: 100%;
}
.slider-control button {
    /* background-color: #1e8fff4a; */
    font-weight:bold;
    background-color: black ;
    border-color: white;
    color:white;
    padding: 20px 60px;
    text-align: center;
    font-size: larger !important;
    /* text-decoration: none; */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .slider-control button:hover {
   background-color: var(--Mycolor);
   color: rgb(0, 0, 0);
   border-color:var(--Mycolor);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }

.slider-image img{
    max-width: 100%;
    max-height: 100%;
}

.slider-buttons{
    position: absolute;
    bottom: 100px;
    left: 25px;
  /* margin-top: 150px; */
  display: flex;
  gap: 10px;
  
}

.trailer{
   width: 15px;
   height: 15px;
   background-color: white;
   border-radius: 10px;
   transition: all 0.5s ease;
  }
  
  .trailer-active{
    width: 50px;
    height: 15px;
    background-color: white;
    border-radius: 10px;
    transition: all 1s ease;
  }
  
.trailer:hover , .trailer-active:hover{
    cursor: pointer;
}